


<div class="container">
    <h1>Our WebSite Products</h1>
    <div class="row">
        <div class="card col-4" *ngFor="let item of Products" [ngClass]="{'bg-danger':item.quantity==1}" [ngStyle]="{'font-size': item.quantity==1 ? '20px':'25px', 'font-weight': item.quantity==1 ? 'bold':'light'}">
            <img [src]="item.imgURL" class="img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name | uppercase}}</h5>
                <p class="card-text" >{{item.price | currency :'L.E.'}}</p>
                <a href="#" class="btn btn-primary" *ngIf="item.quantity > 3">Add to cart</a>
                <a href="#" class="btn btn-warning" *ngIf="item.quantity <= 3">Last item in Stock Buy it now</a>
            </div>
        </div>
    </div>
</div>